/*reset+body*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
  }

body{
    background-color: $gris;
    font-family: $fuente;
    overflow-x: hidden;
}

.trama{
    background-image: url(../img/trama.svg), url(../img/trama.2.svg);
    background-repeat: repeat-y;
    background-position: left, right;
    background-size: 10%;
    background-blend-mode: exclusion;
    background-attachment: fixed;
}
